<div class="code-container" id="code-container-<?= data.id ?>">
  <div class="copy-notification" id="copy-notification-<?= data.id ?>">
    Copied to clipboard
  </div>
  <code id="code-<?= data.id ?>"><?!= data.code ?></code>
  <button
    class="secondary-button"
    onclick="SheetsAI.copyToClipboard('code-<?= data.id ?>')"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
      <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
    </svg>
    Copy
  </button>
</div>
<? if (data.caption) { ?>
<p class="code-caption"><?= data.caption ?></p>
<? } ?>
